---
title: Vally
---
{% set t = translations[lang] %}
<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - {{ site.name }}</title>
  </head>
  <body>
    <a class="skip-link" href="#main-content">{{ t.meta.skipLink }}</a>
    {% include "header.njk" %}
    <main id="main-content">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>
