<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="/assets/js/vendor/easings.js"></script>
<script src="/assets/js/vendor/venobox.min.js"></script>
<script src="/assets/js/vendor/font-animation.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/update_copyright_year.js"></script>
<script src="/assets/js/language_dropdown.js"></script>
<script src="/assets/js/mobile-menu.js"></script>
{%- for script in (extraScripts or []) %}
<script src="{{ script }}"></script>
{%- endfor %}
