---
layout: layouts/legal.njk
title: Mentions légales
demoHeading: "Merci d'utiliser LViS"
---
<h1>Mentions légales et conditions générales d'utilisation</h1>
<p><strong>Dernière mise à jour :</strong> 4 décembre 2024.<br>
Ce document établit les termes et conditions générales qui régissent l'accès et l'utilisation du site web et de la plateforme de LViS, dont la titulaire est <strong>LViS Vídeo Automatización S.L</strong>, ainsi que les informations relatives au respect de la réglementation légale applicable en Espagne.</p>

<h2>1. Données du titulaire du site web</h2>
<ul>
  <li><strong>Nom de l'entreprise :</strong> LViS Vídeo Automatización S.L.</li>
  <li><strong>Numéro fiscal (CIF) :</strong> B-56.883.333</li>
  <li><strong>Adresse :</strong> Paseo de Los Sauces 12, 9D, Boadilla del Monte 28668, Madrid.</li>
  <li><strong>E-mail de contact :</strong> <a href="mailto:info@lvis.es">info@lvis.es</a></li>
</ul>

<h2>2. Objet</h2>
<p>Les présentes Mentions légales régissent l'accès, la navigation et l'utilisation du site web et de la plateforme de LViS (ci-après, la « Plateforme »), ainsi que les services associés proposés par celle-ci.</p>
<p>L'accès à la Plateforme ou son utilisation implique l'acceptation des présentes Mentions légales et des Conditions générales d'utilisation par l'utilisateur. En cas de désaccord, celui-ci doit s'abstenir d'utiliser la Plateforme.</p>

<h2>3. Accès et utilisation de la Plateforme</h2>
<h3>3.1. Accès</h3>
<p>L'accès à la Plateforme est gratuit pour la consultation des informations publiques. Toutefois, les services de création de vidéos et les autres fonctionnalités spécifiques ne sont disponibles que pour les utilisateurs inscrits ou via un abonnement.</p>

<h3>3.2. Utilisation autorisée</h3>
<p>L'utilisateur s'engage à utiliser la Plateforme et les services conformément à :</p>
<ul>
  <li>La législation applicable.</li>
  <li>Les présentes Mentions légales et Conditions générales d'utilisation.</li>
  <li>Les bonnes mœurs et l'ordre public.</li>
</ul>

<h3>3.3. Utilisation interdite</h3>
<p>L'utilisateur ne doit pas :</p>
<ul>
  <li>Mener des activités illicites, frauduleuses ou contraires à la bonne foi.</li>
  <li>Introduire des virus, des logiciels malveillants ou tout autre code nuisible dans la Plateforme.</li>
  <li>Accéder ou tenter d'accéder à des zones restreintes sans autorisation.</li>
  <li>Utiliser la Plateforme pour envoyer des messages publicitaires non sollicités (spam).</li>
</ul>

<h2>4. Propriété intellectuelle et industrielle</h2>
<p>Tous les droits de propriété intellectuelle et industrielle sur la conception, le contenu, les marques, les logos et les autres éléments de la Plateforme appartiennent à LViS ou à des tiers concédants de licence.</p>
<p>La reproduction, la distribution, la communication publique, la transformation ou toute autre forme d'exploitation sans autorisation écrite préalable sont interdites.</p>

<h2>5. Limitation de responsabilité</h2>
<p>LViS ne garantit pas :</p>
<ul>
  <li>La disponibilité ininterrompue de la Plateforme.</li>
  <li>L'absence d'erreurs dans les contenus ou services proposés.</li>
  <li>L'invulnérabilité de la Plateforme face aux cyberattaques.</li>
</ul>

<h2>6. Liens vers des sites tiers</h2>
<p>La Plateforme peut contenir des liens vers des sites web tiers. LViS n'est pas responsable du contenu ni des politiques de confidentialité de ces sites.</p>

<h2>7. Modification des Mentions légales et des Conditions d'utilisation</h2>
<p>LViS se réserve le droit de modifier à tout moment les présentes Mentions légales et les Conditions générales d'utilisation afin de s'adapter aux évolutions réglementaires ou aux améliorations des services. Les modifications seront publiées sur la Plateforme et entreront en vigueur dès leur publication.</p>

<h2>8. Politique de protection des données</h2>
<p>Le traitement des données personnelles des utilisateurs sera effectué conformément à notre <strong><a href="/fr/privacy-policy/" target="_blank">Politique de confidentialité</a></strong>, disponible sur la Plateforme.</p>

<h2>9. Législation applicable et juridiction</h2>
<p>Les présentes Mentions légales sont régies par la législation espagnole. Pour la résolution des litiges, les parties se soumettent aux tribunaux de Madrid, renonçant expressément à tout autre for qui pourrait leur être applicable.</p>

<h2>10. Contact</h2>
<p>Si vous avez des questions concernant les présentes Mentions légales ou les Conditions générales d'utilisation, vous pouvez nous contacter via :</p>
<ul>
  <li><strong>E-mail :</strong> <a href="mailto:info@lvis.es">info@lvis.es</a></li>
  <li><strong>Téléphone :</strong> +34 91 051 30 58</li>
</ul>
