---
layout: layouts/legal.njk
title: Conditions d'utilisation
demoHeading: "Merci de votre confiance envers LViS !"
---
<h1>Conditions d'utilisation de LViS</h1>
<p><strong>Dernière mise à jour :</strong> 4 décembre 2024.<br>
Bienvenue chez LViS. Ce document établit les termes et conditions qui régissent l'utilisation de notre plateforme. En vous inscrivant et en utilisant nos services, vous acceptez de respecter ces conditions. Si vous n'êtes pas d'accord avec une partie de celles-ci, nous vous recommandons de ne pas utiliser le service.</p>

<h2>1. Informations générales</h2>
<h3>1.1. Identité du prestataire</h3>
<p>La plateforme est exploitée par LViS Vídeo Automatización S.L., dont le numéro fiscal (CIF) est B-56.883.333,<br>dont le siège social est situé Paseo de Los Sauces 12,<br>9D, Boadilla del Monte 28668, Madrid,<br>et immatriculée au Registre du commerce de Madrid.</p>

<h3>1.2. Contact</h3>
<ul>
  <li>Vous pouvez nous contacter via :</li>
  <li><strong>E-mail :</strong> <a href="mailto:dpo@lvis.es">dpo@lvis.es</a></li>
  <li><strong>Téléphone :</strong> +34 91 051 30 58</li>
  <li>Formulaire de contact disponible sur la plateforme.</li>
</ul>

<h2>2. Description du service</h2>
<h3>2.1. Fonctionnalités</h3>
<p><strong>LViS</strong> est une plateforme d'automatisation et de montage vidéo qui propose des services tels que :</p>
<ul>
  <li>Création automatisée de vidéos.</li>
  <li>Génération de variantes dans différentes langues ou différents formats.</li>
  <li>Production de vidéos accessibles avec audiodescription et transcriptions en braille.</li>
  <li>Publication automatisée sur des plateformes externes.</li>
</ul>

<h3>2.2. Accès et disponibilité</h3>
<p>Le service est disponible 24 heures sur 24 et 7 jours sur 7, sauf interruptions pour maintenance programmée ou problèmes techniques indépendants de la volonté du prestataire.</p>

<h2>3. Inscription et compte utilisateur</h2>
<h3>3.1. Conditions d'inscription</h3>
<p>Pour accéder à nos services, vous devez :</p>
<ul>
  <li>Être majeur au regard de la législation espagnole.</li>
  <li>Fournir des informations exactes et à jour lors de l'inscription.</li>
</ul>

<h3>3.2. Sécurité du compte</h3>
<p>Vous êtes responsable de la confidentialité de vos identifiants et de toutes les activités effectuées depuis votre compte.</p>

<h2>4. Utilisation de la Plateforme</h2>
<h3>4.1. Conditions d'utilisation</h3>
<p>L'utilisation de la plateforme doit se faire conformément à la législation en vigueur et aux bonnes pratiques.<br>Il est interdit :</p>
<ul class="restablecer">
  <li>
    De publier, créer ou partager du contenu qui :
    <ul class="circle">
      <li>Est discriminatoire, offensant ou incite à la haine fondée sur la race, le genre, la religion, l'orientation sexuelle, le handicap ou toute autre condition personnelle ou sociale.</li>
      <li>Incite à la violence, au harcèlement, à l'intimidation ou à toute activité illégale.</li>
      <li>Encourage des activités illégales, y compris, sans s'y limiter, la pédopornographie, le terrorisme, le piratage ou la fraude.</li>
      <li>Porte atteinte à des droits de propriété intellectuelle, tels que les droits d'auteur, les marques déposées ou les brevets.</li>
      <li>Porte atteinte aux droits à la vie privée ou à la protection des données personnelles de tiers sans leur consentement.</li>
      <li>Contient un langage obscène, diffamatoire ou portant atteinte à la dignité des personnes.</li>
    </ul>
  </li>
  <li>D'utiliser la plateforme pour stocker ou transmettre des contenus malveillants, tels que des virus, des logiciels malveillants ou tout logiciel conçu pour endommager ou perturber le fonctionnement de la plateforme ou des appareils d'autres utilisateurs ou entreprises.</li>
  <li>De faire un usage abusif de la plateforme portant atteinte à son fonctionnement, comme des tests de charge excessifs, de l'ingénierie inverse ou des tentatives de piratage.</li>
</ul>

<h3>4.2. Conséquences en cas de non-respect</h3>
<p>Nous nous réservons le droit de suspendre temporairement ou de supprimer définitivement le compte de tout utilisateur ne respectant pas ces conditions d'utilisation. En outre, nous pourrons prendre les mesures légales appropriées si l'usage abusif de la plateforme cause un préjudice à LViS, à ses utilisateurs ou à des tiers.</p>
<p>En utilisant la plateforme, l'utilisateur s'engage à respecter ces conditions et à garantir que le contenu qu'il publie, crée ou gère respecte les normes éthiques et légales établies dans le présent document.</p>

<h2>5. Propriété intellectuelle</h2>
<p>Tout le contenu, les logiciels, la conception et les marques liés à la plateforme sont la propriété de LViS ou de ses concédants de licence. L'utilisation du service ne vous confère aucun droit sur ces éléments, à l'exception de ceux expressément prévus dans les présentes conditions.</p>

<h2>6. Politique de paiement et tarifs</h2>
<h3>6.1. Tarifs</h3>
<p>L'utilisation de la plateforme repose sur un système de crédits. Chaque opération a un coût en crédits, consultable dans le tableau tarifaire actualisé sur notre site et dans le contrat de services signé.</p>

<h3>6.2. Renouvellements et annulations</h3>
<p>Les crédits sont valables <strong>12 mois</strong> à compter de leur achat. Vous pouvez annuler votre abonnement à tout moment, mais aucun remboursement ne sera effectué pour les crédits non utilisés.</p>

<h2>7. Politique de protection des données</h2>
<h3>7.1. Conformité légale</h3>
<p>Nous respectons la loi organique espagnole relative à la protection des données et à la garantie des droits numériques (LOPDGDD) ainsi que le Règlement général sur la protection des données (RGPD).</p>

<h3>7.2. Finalité du traitement</h3>
<p>Vos données seront utilisées exclusivement pour :</p>
<ul class="restablecer">
  <li>Gérer votre compte et nos services.</li>
  <li>Les communications liées à l'utilisation de la plateforme.</li>
</ul>
<p>Pour plus de détails, veuillez consulter notre <strong><a href="/fr/privacy-policy/" target="_blank">Politique de confidentialité</a></strong>.</p>

<h2>8. Limitation de responsabilité</h2>
<h3>8.1. Utilisation du service</h3>
<p>Nous déclinons toute responsabilité pour les dommages résultant d'un usage abusif de la plateforme par l'utilisateur.</p>

<h3>8.2. Interruptions ou erreurs</h3>
<p>Bien que nous mettions tout en œuvre pour garantir la disponibilité du service, nous ne sommes pas responsables des interruptions dues à des problèmes techniques ou à des tiers.</p>

<h2>9. Modifications des présentes conditions</h2>
<p>Nous nous réservons le droit de modifier ces conditions à tout moment. Les mises à jour seront publiées sur notre site et entreront en vigueur à compter de leur date de publication.</p>

<h2>10. Loi applicable et juridiction</h2>
<p>Les présentes conditions sont régies par la législation espagnole. Pour résoudre tout litige, les parties se soumettent aux tribunaux de Madrid, sauf disposition légale contraire prévoyant un autre for applicable.</p>
<p>En utilisant nos services, vous confirmez avoir lu, compris et accepté les présentes conditions.</p>
