---
title: Redirecting...
permalink: /index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="{{ i18n.default }}">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="0; url={{ i18n.default }}/">
    <script>
      (function () {
        var available = [{% for language in i18n.languages %}"{{ language.code }}"{% if not loop.last %}, {% endif %}{% endfor %}];
        var browserLang = (navigator.language || navigator.userLanguage || "").slice(0, 2);
        var target = available.indexOf(browserLang) !== -1 ? browserLang : "{{ i18n.default }}";
        window.location.replace("/" + target + "/");
      })();
    </script>
  </head>
  <body>
    <p>Redirecting&hellip; If you are not redirected automatically, choose your language:</p>
    <ul>
      {%- for language in i18n.languages %}
      <li><a href="{{ language.path }}" hreflang="{{ language.code }}">{{ language.label }}</a></li>
      {%- endfor %}
    </ul>
  </body>
</html>
