---
layout: layouts/legal.njk
title: Termes de Servei
demoHeading: "Gràcies per confiar en LViS!"
---
<h1>Termes de Servei de LViS</h1>
<p><strong>Última actualització:</strong> 4 de desembre de 2024.<br>
Benvingut a LViS. Aquest document estableix els termes i condicions que regulen l'ús de la nostra plataforma. En registrar-te i utilitzar els nostres serveis, acceptes complir amb aquests termes. Si no estàs d'acord amb alguna part, et recomanem no fer servir el servei.</p>

<h2>1. Informació General</h2>
<h3>1.1. Identitat del Proveïdor</h3>
<p>La plataforma és operada per LViS Vídeo Automatización S.L.,<br>amb CIF B-56.883.333,<br>domicili al Passeig de Los Sauces 12,<br>9D, Boadilla del Monte 28668, Madrid,<br>i inscrita al Registre Mercantil de Madrid.</p>

<h3>1.2. Contacte</h3>
<ul>
  <li>Pots contactar amb nosaltres a través de:</li>
  <li><strong>Correu electrònic:</strong> <a href="mailto:dpo@lvis.es">dpo@lvis.es</a></li>
  <li><strong>Telèfon:</strong> +34 91 051 30 58</li>
  <li>Formulari de contacte disponible a la plataforma.</li>
</ul>

<h2>2. Descripció del Servei</h2>
<h3>2.1. Funcionalitats</h3>
<p><strong>LViS</strong> és una plataforma d'automatització i edició de vídeos que ofereix serveis com:</p>
<ul>
  <li>Creació automatitzada de vídeos.</li>
  <li>Generació de variacions en diferents idiomes o formats.</li>
  <li>Producció de vídeos accessibles amb audiodescripció i transcripcions en Braille.</li>
  <li>Publicació automatitzada en plataformes externes.</li>
</ul>

<h3>2.2. Accés i Disponibilitat</h3>
<p>El servei està disponible 24/7, excepte interrupcions per manteniment programat o problemes tècnics aliens al control del proveïdor.</p>

<h2>3. Registre i Compte d'Usuari</h2>
<h3>3.1. Requisits de Registre</h3>
<p>Per accedir als nostres serveis, has de:</p>
<ul>
  <li>Ser major d'edat segons la legislació espanyola.</li>
  <li>Proporcionar informació veraç i actualitzada durant el registre.</li>
</ul>

<h3>3.2. Seguretat del compte</h3>
<p>Ets responsable de mantenir la confidencialitat de les teves credencials i de totes les activitats realitzades des del teu compte.</p>

<h2>4. Ús de la Plataforma</h2>
<h3>4.1. Condicions d'Ús</h3>
<p>L'ús de la plataforma s'ha de realitzar d'acord amb la legislació vigent i les bones pràctiques.<br>No es permet:</p>
<ul class="restablecer">
  <li>
    Pujar, crear o compartir contingut que:
    <ul class="circle">
      <li>Sigui discriminatori, ofensiu o promogui l'odi per motius de raça, gènere, religió, orientació sexual, discapacitat o qualsevol altra condició personal o social.</li>
      <li>Inciti a la violència, l'assetjament, la intimidació o qualsevol activitat il·legal.</li>
      <li>Fomenti activitats il·legals, incloses però no limitades a, la pornografia infantil, el terrorisme, la pirateria o el frau.</li>
      <li>Infringeixi drets de propietat intel·lectual, com drets d'autor, marques registrades o patents.</li>
      <li>Vulneri drets de privacitat o protecció de dades personals de tercers sense el seu consentiment.</li>
      <li>Contingui llenguatge obscè, difamatori o que atempti contra la dignitat de les persones.</li>
    </ul>
  </li>
  <li>Utilitzar la plataforma per emmagatzemar o transmetre contingut maliciós, com virus, malware o qualsevol programari dissenyat per danyar o interferir amb el funcionament de la plataforma o dels dispositius d'altres usuaris o empreses.</li>
  <li>Fer un ús indegut de la plataforma que afecti negativament el seu funcionament, com realitzar proves de càrrega excessives, enginyeria inversa o intents de pirateig.</li>
</ul>

<h3>4.2. Conseqüències per Incompliment</h3>
<p>Ens reservem el dret de suspendre temporalment o eliminar permanentment el compte de qualsevol usuari que incompleixi aquestes condicions d'ús. A més, podrem prendre les mesures legals pertinents si l'ús indegut de la plataforma genera danys a LViS, als seus usuaris o a tercers.</p>
<p>Mitjançant l'ús de la plataforma, l'usuari es compromet a respectar aquestes condicions i a garantir que el contingut que pugi, creï o gestioni compleixi amb els estàndards ètics i legals establerts en aquest document.</p>

<h2>5. Propietat Intel·lectual</h2>
<p>Tot el contingut, programari, disseny i marques relacionades amb la plataforma són propietat de LViS o dels seus llicenciataris. L'ús del servei no t'atorga cap dret sobre aquests elements, excepte els expressament establerts en aquests termes.</p>

<h2>6. Política de Pagaments i Tarifes</h2>
<h3>6.1. Tarifes</h3>
<p>L'ús de la plataforma es basa en un model de crèdits. Cada operació té un cost en crèdits, que ha de ser consultat a la taula de tarifes actualitzada a la nostra web i al contracte de serveis signat.</p>

<h3>6.2. Renovacions i Cancel·lacions</h3>
<p>Els crèdits tenen una vigència de <strong>12 mesos</strong> des de la seva adquisició. Pots cancel·lar la teva subscripció en qualsevol moment, però no es realitzarà cap reemborsament pels crèdits no utilitzats.</p>

<h2>7. Política de Protecció de Dades</h2>
<h3>7.1. Compliment Legal</h3>
<p>Complim amb la Llei Orgànica de Protecció de Dades i Garantia dels Drets Digitals (LOPDGDD) i el Reglament General de Protecció de Dades (RGPD).</p>

<h3>7.2. Finalitat del Tractament</h3>
<p>Les teves dades s'utilitzaran exclusivament per a:</p>
<ul class="restablecer">
  <li>Gestionar el teu compte i serveis.</li>
  <li>Comunicacions relacionades amb l'ús de la plataforma.</li>
</ul>
<p>Per a més detalls, consulta la nostra <strong><a href="/ca/privacy-policy/" target="_blank">Política de Privacitat</a></strong>.</p>

<h2>8. Limitació de Responsabilitat</h2>
<h3>8.1. Ús del Servei</h3>
<p>No ens fem responsables dels danys derivats de l'ús indegut de la plataforma per part de l'usuari.</p>

<h3>8.2. Interrupcions o Errors</h3>
<p>Encara que fem tot el possible per garantir la disponibilitat del servei, no ens responsabilitzem per interrupcions degudes a problemes tècnics o de tercers.</p>

<h2>9. Modificacions dels Termes</h2>
<p>Ens reservem el dret de modificar aquests termes en qualsevol moment. Les actualitzacions es publicaran a la nostra web i entraran en vigor des de la seva data de publicació.</p>

<h2>10. Llei Aplicable i Jurisdicció</h2>
<p>Aquests termes es regeixen per la legislació espanyola. Per resoldre qualsevol controvèrsia, les parts se sotmeten als jutjats i tribunals de Madrid llevat que la llei estableixi un altre fur aplicable.</p>
<p>En utilitzar els nostres serveis, confirmes que has llegit, entès i acceptat aquests termes.</p>
